<div class="jumbotron center">
	<div class = "container">
		
		<h1>Pinteresting!</h1>

		<% if user_signed_in? %>
			# do something
		<% else %>
			<p>
				<%= link_to "Login", new_user_session_path, :class=>"btn btn-default" %>|<%= link_to "Sign up", new_user_registration_path, :class=>"btn btn-danger" %>
			</p>
		<% end %>

	</div>
</div>